@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(circle, rgba(0,223,164,1) 5%, rgba(0,60,49,1) 74%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.w34 {
  width: 100%;
  float: left;
  padding-right: 15px;
}

.box {
  display: flex;
  width: 930px;
}

.formulario {
  background: radial-gradient(circle, rgba(0,223,164,1) 5%, rgba(0,60,49,1) 74%);
  backdrop-filter: blur(40px);
  padding: 40px 40px;
  width: 80%;
  border-radius: 0 20px 20px 0;
  
}

.formulario h2 {
  font-size: 30px;
}

.formulario p {
  font-weight: bold;
  color: rgb(33, 233, 6);
}

.formulario p a {
  color: rgb(65, 217, 255);
  text-decoration: none;
}

.formulario form {
  margin: 20px 0;
}

form .input-group {
  margin-bottom: 15px;
}

form .input-group label {
  color: black;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form .input-group input {
  width: 55%;
  height: 20px;
  background-color: rgb(red, green, blue);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #6d6868;
  transition: all 0.4s ease;
}

form .input-group input:focus {
  border-color: rgb(0, 253, 97);
}

form .input-group button {
  width: 40%;
  height: 40px;
  background: rgb(5, 211, 201);
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
}

/*Essa é a parte que deixa o site responsivo*/
  .box {
    width: 700px;
  }

  .formulario {
    width: 100%;
    border-radius: 20px;
  }


@media (max-width:500%) {
  .w34 {
    width: 100%;
    padding: 0;
  }
}